@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: "#F72798";
  --secondary: "#F57D1F";
  --tertiary: "#EBF400";
}
body {
  background-color: white;
  position: relative;
}
.player {
  background-color: #f57d1f;
  height: 60vh;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player h2,
span,
h4 {
  margin: 50px auto 25px;
}

@media all and (max-width: 640px) {
  body {
    height: 160vh;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
  }
  .player {
    width: 70%;
    font-size: 18px;
    position: absolute;
    right: 10%;
    left: 10%;
    margin: 0 auto;
  }
  .player--1 {
    top: 200px;
  }
  .player--2 {
    top: 650px;
  }
  .current--score {
    font-size: 18px;
  }
  .button-container {
    flex-direction: row;
    top: 15px;
    margin: -15rem auto;
  }
  .button-container button {
    margin: 10px auto;
    width: 30%;
  }
  .img-container {
    top: 11.5rem;
    width: 100%;
  }
}
@media all and (min-width: 640.999px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .player {
    width: 40%;
    font-size: 24px;
    margin: 100px 0.5px;
  }
  .current--score {
    font-size: 20px;
  }
  .button-container {
    flex-direction: column;
    top: 15px;
    text-align: center;
    width: 100%;
  }
  .button-container button {
    margin: 78px 25px;
    width: 150px;
    font-size: 15px;
  }
  .img-container {
    top: 160px;
  }
}
.current--score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  border-radius: 30px;
  padding: 10px;
  background-color: #ebf400;
  color: #000000;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 100%;
}
.button-container button {
  padding: 10px 15px;
  border-radius: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  background-color: white;
  cursor: pointer;
}
.img-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
.img-container img {
  width: 100px;
  height: 100px;
}
.hidden {
  display: none;
}

@keyframes press {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animation-btn {
  animation: press;
  animation-duration: 0.6s;
  animation-delay: 0s;
}
.active-player {
  background-color: #000000;
  color: white;
}
.winner {
  background-color: rgb(169, 245, 55);
}
